# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

.git
.idea
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

scripts/*.sh

iob_npm.done
scripts/gulp.sh
scripts/upload.sh

# S906:
.commitinfo

# ioBroker dev-server
.dev-server/